<header>
  <nav>
      <ul>
          <li><a href="/"><img class="pokewar-icon" src="/images/pokewar.png" alt="Logo"></a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/poke/pokewar">I Choose You!</a></li>
          <li><a href="/poke/battle">Battle</a></li>
          <li><a id="pokewar" href="/poke/login">Login</a></li>
      </ul>
  </nav>
</header>