<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image" href="/images/slideshow/lapras.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
    </style>
</head>
