<main>
    <h1 class="h1-battle">And the winner is...</h1>
    <section class="battle-board">

        <div class="team-one">
            <h3>Team One</h3>
            <ul >
                <li class="team-one-pokemon">Pokemon 1 - Team 1</li>
                <li class="team-one-pokemon">Pokemon 2 - Team 1</li>
                <li class="team-one-pokemon">Pokemon 3 - Team 1</li>
                <li class="team-one-pokemon">Pokemon 4 - Team 1</li>
            </ul>
        </div>
        <form action=".showWinner">
            <input class="letsBattle" value="Let's Battle"/>
        </form>
        
        <div class="team-two">
            <h3>Team Two</h3>
            <ul>
                <li class="team-two-pokemon">Pokemon 1 - Team 2</li>
                <li class="team-two-pokemon">Pokemon 2 - Team 2</li>
                <li class="team-two-pokemon">Pokemon 3 - Team 2</li>
                <li class="team-two-pokemon">Pokemon 4 - Team 2</li>
            </ul>
        </div>



    </section>
</main>