<div class="teamDisplay">
    <h1>Your team's name goes here!</h1>
    <div class="teamContainer">
        <div class="teamMember one">
            <% if (pokemon1) { %>
                <%= pokemon1 %>
                <% } else {%>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/25.svg" alt="Pokemon place holder">
                <% } %>
            </div>
        <div class="teamMember two">
            <% if (pokemon2) { %>
                <%= pokemon2 %>
                <% } else {%>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/7.svg" alt="Pokemon place holder">
                <% } %>
        </div>
        <div class="teamMember three">
            <% if (pokemon3) { %>
                <%= pokemon3 %>
                <% } else {%>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/4.svg" alt="Pokemon place holder">
                <% } %>
        </div>
        <div class="teamMember four">
            <% if (pokemon4) { %>
                <%= pokemon4 %>
                <% } else {%>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" alt="Pokemon place holder">
                <% } %>
        </div>
    </div>
    <h2>Submit a challenge request</h2>
    <ul class="contenderList"></ul>
    <li>
        <p class="user"></p>
        <p class="teamsNam3"></p>
        <div class="userPokeType">
            
        </div>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
</div>